const SEOConfig = {
  title: 'Home | AshGamewitted', // Default title for the website
  description: 'Welcome to AshGamewitted, your ultimate destination for immersive gaming and captivating anime content! Dive into a world where pixels meet passion, as we bring you the latest updates, reviews, and insights from the gaming and anime realms.',
  keywords: 'AshGamewitted, Games, Anime',
  openGraph: {
    type: 'Corporation',
    locale: 'en_IE',
    url: 'https://game-blogs-swart.vercel.app/', // Website URL
    site_name: 'AshGamewitted', // Website name
    images: [
      {
        url: 'https://fama.b-cdn.net/Yuri/logos/yuri%20logo%202.png',
        width: 1200,
        height: 630,
        alt: 'AshGamewitted',
      },
    ],
  },
  additionalMetaTags: [
    {
      name: 'contactPoint:telephone',
      content: '8591949488',
    },
    {
      name: 'contactPoint:contactType',
      content: 'customer service',
    },
    {
      name: 'contactPoint:areaServed',
      content: 'IN',
    },
    {
      name: 'contactPoint:availableLanguage',
      content: 'en, Hindi',
    },
    {
      name: 'sameAs:facebook',
      content: 'https://www.facebook.com/yurismartengineering',
    },
    {
      name: 'sameAs:instagram',
      content: 'https://www.instagram.com/yurismartengineering/',
    },
    {
      name: 'sameAs:youtube',
      content: 'https://www.youtube.com/channel/UClrtmIfJ8G2Ddsp08BWytcg',
    },
    {
      name: 'sameAs:linkedin',
      content: 'https://www.linkedin.com/company/yuri-smart-engineering/',
    },
    {
      name: 'sameAs:website',
      content: 'https://yurigroup.com/',
    },
  ],
};

export default SEOConfig;
