const SEOConfig = {
  title: 'Home | YURI', // Default title for the website
  description: 'At Yuri Smart Engineering, we take immense pride in being your ultimate destination for affordable power tools, abrasives, diamond saw blades, TCT saw blades, hand tools, measuring instruments, spares, and accessories.',
  keywords: 'Yuri, Hardware, Tools',
  openGraph: {
    type: 'Corporation',
    locale: 'en_IE',
    url: 'https://yurigroup.com/', // Website URL
    site_name: 'YURI Smart Engineering', // Website name
    images: [
      {
        url: 'https://fama.b-cdn.net/Yuri/logos/yuri%20logo%202.png',
        width: 1200,
        height: 630,
        alt: 'YURIGROUP',
      },
    ],
  },
  additionalMetaTags: [
    {
      name: 'contactPoint:telephone',
      content: '8591949488',
    },
    {
      name: 'contactPoint:contactType',
      content: 'customer service',
    },
    {
      name: 'contactPoint:areaServed',
      content: 'IN',
    },
    {
      name: 'contactPoint:availableLanguage',
      content: 'en, Hindi',
    },
    {
      name: 'sameAs:facebook',
      content: 'https://www.facebook.com/yurismartengineering',
    },
    {
      name: 'sameAs:instagram',
      content: 'https://www.instagram.com/yurismartengineering/',
    },
    {
      name: 'sameAs:youtube',
      content: 'https://www.youtube.com/channel/UClrtmIfJ8G2Ddsp08BWytcg',
    },
    {
      name: 'sameAs:linkedin',
      content: 'https://www.linkedin.com/company/yuri-smart-engineering/',
    },
    {
      name: 'sameAs:website',
      content: 'https://yurigroup.com/',
    },
  ],
};

export default SEOConfig;
